#This HUD was created by dark (01.01.06 Kharkov Ukraine). 

!DEFAULT
{
	font threewave
	textstyle 1
}
ItemPickupIcon
{
	rect 3 374 10 10
	time 1500
}
ItemPickup
{
	rect 15 374 640 16
	fontsize 8 10
	time 1500
	monospace
}
StatusBar_AmmoIcon
{
	rect 238 455 22 22 
	textalign C
}
StatusBar_AmmoCount
{
	rect 205 455 32 32 
	font idblock
	fontsize 20 22
	textalign R
	textstyle 0
}
StatusBar_HealthCount
{
	rect 0 455 640 12 
	font idblock
	fontsize 20 22 
	textalign C
	monospace
	textstyle 0
}
StatusBar_ArmorCount
{
	rect 402 455 32 32
	font idblock
	fontsize 20 22 
	textalign R
	monospace
	textstyle 0
}
GameType
{
	rect 0 32 640 24
	fontsize 16 24
	textalign C
	color 1 1 0 0.8
}
WarmupInfo
{
	rect 0 64 640 16
	fontsize 12 16
	textalign C
	color 1 0 0 0.6
	monospace
}
NetGraphPing
{
 	rect 0 465 640 20
 	fontsize 8 12
 	textstyle 0
 	textalign R
	color 0 1 0 0.8
}
GameTime
{
	rect 0 0 640 16
	fontsize 18 20
	textalign R
	color 1 1 1 1
	textstyle 0
	monospace
}
TargetStatus
{
	rect 160 295 320 12
	time 500
	fontsize 8 10
	textstyle 0
	textalign C
	color 0.49 1 1 0.8 
}
TargetName
{
 	rect 160 280 320 12
	font ID
	time 500
	fontsize 8 10
	textstyle 0
	textalign C
	color 1 1 1 0.8 
}
SpecMessage
{
	rect 0 80 640 16
	fontsize 12 16
	textalign C
}
FollowMessage
{
	rect 0 16 640 12
	textalign C
	fontsize 8 10
}
RankMessage
{
	rect 0 90 640 16
	fontsize 8 10
	textalign C
	time 1800
	fade 1 1 1 0
	monospace
}
FragMessage
{
	rect 0 80 640 16
	fontsize 8 10
	textalign C
	time 1800
	fade 1 1 1 0
}
VoteMessageArena
{
	rect 0 60 640 16
	fontsize 12 12
	textalign C
}
VoteMessageWorld
{
	rect 0 76 640 16
	fontsize 12 12
	textalign C
	color 1 1 0.5 1
	textstyle 0
}
Team1 { rect 0 400 640 8; fontsize 7 8; monospace; textalign R; bgcolor 0 1 0 0.3; }
Team2 { rect 0 392 640 8; fontsize 7 8; monospace; textalign R; bgcolor 0 1 0 0.3; }
Team3 { rect 0 384 640 8; fontsize 7 8; monospace; textalign R; bgcolor 0 1 0 0.3; }
Team4 { rect 0 376 640 8; fontsize 7 8; monospace; textalign R; bgcolor 0 1 0 0.3; }
Team5 { rect 0 368 640 8; fontsize 7 8; monospace; textalign R; bgcolor 0 1 0 0.3; }
Team6 { rect 0 360 640 8; fontsize 7 8; monospace; textalign R; bgcolor 0 1 0 0.3; }
Team7 { rect 0 352 640 8; fontsize 7 8; monospace; textalign R; bgcolor 0 1 0 0.3; }
Team8 { rect 0 344 640 8; fontsize 7 8; monospace; textalign R; bgcolor 0 1 0 0.3; }
Score_OWN { rect 613 429 27 14; fontsize 8 10; textalign R; color T; fill; bgcolor 0 1 0 0.68; }
Score_NME { rect 613 445 27 14; fontsize 8 10; textalign R; color E; fill; bgcolor 0 1 0 0.68; }
FlagStatus_OWN { rect 0 447 32 32; bgcolor 1 1 1 1; color T; }
FlagStatus_NME { rect 40 447 32 32; bgcolor 1 1 1 1; color E; }
TeamCount_OWN { rect 580 451 13 11; fontsize 8 10; textalign C; color 1 1 1 1; bgcolor 0 0 0 0; fill; }
TeamCount_NME { rect 580 466 13 11; fontsize 8 10; textalign C; color 0 1 0 1; bgcolor 0 0 0 0; fill; }
Score_Limit { rect 613 410 27 25; fontsize 12 14; textstyle 0; textalign C; }
PowerUp1_Icon { rect 10 340 32 32; }
PowerUp1_Time { rect 10 325 32 32; fontsize 12 12; textstyle 0; textalign C; color 1 1 0 0.87; }
PowerUp2_Icon { rect 10 325 32 32; }
PowerUp2_Time { rect 10 325 32 32; fontsize 12 12; textstyle 0; textalign C; color 1 1 0 0.87; }
PowerUp3_Icon { rect 10 290 32 32; }
PowerUp3_Time { rect 10 290 32 32; fontsize 12 12; textalign C; color 1 1 0 0.87; }
PowerUp4_Icon { rect 10 255 32 32; }
PowerUp4_Time { rect 10 255 32 32; fontsize 12 12; textalign C; color 1 1 0 0.87; }