!DEFAULT
{
	color 1 1 1 1
	fontsize 8 12
	font cpma
	textstyle 1
}

PlayerSpeed
{
	rect 310 400 20 20
	color 1 1 1 0.3
	textalign C
	fontsize 12 16
}

WeaponList
{
	rect 320 420 48 16
	color 0.2 0.2 0.7 0.75
	font id
	textalign C
	fontsize 12 16
}


StatusBar_HealthIcon
{
	rect 80 440 16 16
	image "models/players/visor/icon_pm.tga"
}

StatusBar_HealthBar
{
	rect 106 440 160 36
	color 0 0 0 0
	textalign R
	doublebar
}

_PostDecorate1 { rect 106 457 160 2; bgcolor 1 1 1 1; fill; }

StatusBar_HealthCount
{
	rect 268 448 48 24
	font idblock
	fontsize 16 24
	textalign C
}

!PreDecorate1 { rect 319 440 2 36; bgcolor 1 1 1 1; fill; }

StatusBar_ArmorIcon
{
	rect 542 440 16 16
}

StatusBar_ArmorBar
{
	rect 376 440 160 36
	color 0 0 0 0
	textalign L
	doublebar
}

_PostDecorate2 { rect 376 457 160 2; bgcolor 1 1 1 1; fill; }


StatusBar_ArmorCount
{
	rect 324 448 48 24
	font idblock
	fontsize 16 24
	textalign C
}


FPS
{
	rect 0 0 640 12
	color 1 1 1 0.5
	textalign R
}


GameTime
{
	rect 0 16 640 16
	font id
	fontsize 12 16
	textalign R
	monospace
}


GameType
{
	rect 0 16 640 24
	fontsize 20 
	textalign C
	color 1 1 0.5 1
}


WarmupInfo
{
	rect 0 40 640 24
	fontsize 16
	textalign C
}


FollowMessage
{
	rect 0 466 640 12
	textalign C
}


SpecMessage
{
	rect 0 96 640 16
	fontsize 12 16
	textalign C
}


FragMessage
{
	rect 0 96 640 16
	fontsize 12 16
	textalign C
	time 1500
	fade 1 1 1 0.5
}


RankMessage
{
	rect 0 20 640 12
	textalign C
	time 1500
	fade 1 1 1 0.5
}



ItemPickup
{
	rect 24 384 640 16
	fontsize 12 16
	time 1500
	#fade 1 1 1 0.5
}


ItemPickupIcon
{
	rect 0 384 16 16
	time 1500
	# fading an image requires an alpha channel which the icons don't have  >:(
	#fade 1 1 1 0.5
}


TargetName
{
	rect 0 256 640 12
	textalign C
	time 500
}

TargetStatus
{
	rect 0 268 640 12
	textalign C
	time 500
	color 0.5 1 1 1
}


Chat1 { rect 0 372 640 12; time 3000; }
Chat2 { rect 0 360 640 12; time 3000; }
Chat3 { rect 0 348 640 12; time 3000; }
Chat4 { rect 0 336 640 12; time 3000; }
Chat5 { rect 0 324 640 12; time 3000; }
Chat6 { rect 0 312 640 12; time 3000; }
Chat7 { rect 0 300 640 12; time 3000; }
Chat8 { rect 0 288 640 12; time 3000; }


VoteMessageArena
{
	rect 0 60 640 16
	fontsize 12 16
	textalign C
}


VoteMessageWorld
{
	rect 0 76 640 16
	fontsize 12 16
	textalign C
	color 1 1 0 1
}


Score_Limit { rect 0, 420, 32, 20; textalign R; fontsize 16 20; bgcolor 0.5 0.5 0.5 0.5; fill; }
Score_OWN   { rect 0, 440, 32, 20; textalign R; fontsize 16 20; bgcolor 1 1 1 0.5; fill; color T; }
Score_NME   { rect 0, 460, 32, 20; textalign R; fontsize 16 20; bgcolor 0 1 0 0.5; fill; color E; }


# that's all the DM stuff


!DEFAULT { bgcolor 0.5 0.5 0.5 0.25; textalign R; fontsize 8 12; }

Team1 { rect 0, 400, 640, 12; color T; }
Team2 { rect 0, 388, 640, 12; color T; }
Team3 { rect 0, 376, 640, 12; color T; }
Team4 { rect 0, 364, 640, 12; color T; }
Team5 { rect 0, 352, 640, 12; color T; }
Team6 { rect 0, 340, 640, 12; color T; }
Team7 { rect 0, 328, 640, 12; color T; }
Team8 { rect 0, 316, 640, 12; color T; }


!DEFAULT { bgcolor 0 0 0 0; textalign R; font idblock; fontsize 24 32; }

PowerUp1_Icon { rect 608, 264, 32, 32; }	# also used for the O/D indicator in CTFS
PowerUp1_Time { rect 544, 264, 64, 32; }

PowerUp2_Icon { rect 608, 232, 32, 32; }
PowerUp2_Time { rect 544, 232, 64, 32; }

PowerUp3_Icon { rect 608, 200, 32, 32; }
PowerUp3_Time { rect 544, 200, 64, 32; }

PowerUp4_Icon { rect 608, 168, 32, 32; }
PowerUp4_Time { rect 544, 168, 64, 32; }


# note: team coloring for images needs BGCOLOR alpha to be non-zero
FlagStatus_OWN { rect 608 420 32 32; bgcolor 1 1 1 1; color T; }
FlagStatus_NME { rect 568 420 32 32; bgcolor 1 1 1 1; color E; }


!DEFAULT { bgcolor 0.5 0.5 0.5 0.5; textalign C; font cpma; fontsize 32 24; }

Score_OWN { rect 608 454 32 24; color T; fill; }
Score_NME { rect 568 454 32 24; color E; fill; }
